.ammd-header {
    height: 100%;
    color: white;
    font-size: 55px;
    font-style: italic;
    background-color: var(--ammd-color-primary);
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    display:flex;

    img {
        height: 24px;
        position: absolute;
        left: 10px; 
        top: 27px;
    }

    span {
        margin: auto;
    }
}