.dashboard-page-wrapper {
    display: grid;
    grid-template-rows: 80px auto;
    height: 100vh;    
    min-height: 0;
    min-width: 0;

    &__selector {
        position: absolute;
        right: 10px;
        top: 10px;
        height: 50px;
        width: 50px; 
        background: #fff;
        border-radius: 100px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
        
        &__overlay {
            background: #fff;
            // height: 100px;
            // width: 50px;
            // display: flex;
        }
    }

    &__header {
        background-color: var(--super-lidl);
        display: flex;
        box-shadow: 0 2px 4px rgba(0,0,0,.5);
        

        span {
            margin: auto;
            font-size: 51px;
            color: white;
        }

        img {
            position: absolute;
            left: 10px;
            top: 5px;
            height: 70px;
        }

        mat-form-field{
            background: white;
            color: white;
        }

    }

    &__contnet {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        min-height: 0;
    }
}

.content-card {
    display: flex;
    flex-direction: column;    

    &__slider {
        display: flex;

        > * {
            margin: auto;
        }

        mat-slider-toggle {
            margin: auto;
            color: var(--super-lidl);
        }
    }
    
    &__headline {
        height: 40px;
        display: flex;
        border-bottom: 0.5px solid rgba(0,0,0,.42);
        padding-bottom: 16px;
        margin-bottom: 16px;

        span{
            margin: auto;
            font-size: 25px;
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
        height: 100%;

        img {
            margin: auto;
            max-height: 50px;
            width: 50px;
        }

        &__weather {
            display: flex;
            flex-direction: column;
            flex: 1; 

            // span{
            //     margin: auto auto auto 10px;
            // }
        }

        &__divider {
            border: 0.5px solid rgba(0,0,0,.42);
            height: 80%;
            margin: auto;
        }
    }
}

.table-card {
    grid-row: 1/3;
    grid-column: 2/3;

    &__button-generate {
        margin: 0 auto;
    }

    button {
        height: 70px;
        width: 50%;
        background: var(--super-lidl);
        margin: auto;
        font-size: 25px;
        color: #fff;
        border-radius: 4px;
        
    }
}

.example-form {
    width: 50%;

}
mat-form-field {
    width: 100%;
}

.mat-elevation-z8 {
    box-shadow: none!important;
    flex: 1;
}

table {
    margin-top: 10px;
}
td {
    font-style: italic;
    padding:10px 5px;
}

.checkbox {
    margin: auto;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background: var(--super-lidl)!important;
}

.fab-button {
    display: flex;
    border-radius: 100px;
    position: absolute;
    right: 15px;
    bottom: 55px;
    height: 55px;
    width: 55px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: #757575;
}

.fab-button-notif {
    height: 23px;
    width: 23px;
    position: absolute;
    bottom: 90px;
    right: 13px;
    background: rgba(176,0,32,0.54);
    border-radius: 100px;
    color: #fff;
    display: flex;
}

mat-icon {
    color: #fff;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: var(--super-lidl);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
background-color: rgba(0,80,131,0.54);
}